﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - WWIFATC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/admincss")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="container">
            <div class="row">
                <section class="span3">
                    <nav class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Admin</li>
                            <li><a href="@Url.Action("Navigation")">Navigation</a></li>
                            <li><a href="@Url.Action("Top")">Top Section</a></li>
                            <li><a href="@Url.Action("Menu")">Menu Section</a></li>
                            <li><a href="@Url.Action("Location")">Location Section</a></li>
                            <li><a href="@Url.Action("Jobs")">Jobs Section</a></li>
                            <li><a href="@Url.Action("Footer")">Footer Section</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="span9">
                    @RenderBody()
                </section>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/api")
    </body>
</html>
