<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - WWIFATC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="wrapper">
            <header>
                <nav>
                    <ul>
                        <li><a id="home" href="#">Home</a></li>
                        <li><a id="about-us" href="#">About Us</a></li>
                        <li><a id="menu" href="#">Menu</a></li>
                        <li><span>Good Time Sushi</span></li>
                        <li><a id="locations" href="#">Locations</a></li>
                        <li><a id="jobs" href="#">Jobs</a></li>
                        <li><a id="connect" href="#">Connect</a></li>
                    </ul>
                </nav>
            </header>

            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/api")
    </body>
</html>