<section id="left-roll">
    <img src="@Url.Content("~/Images/blurred-sushi.png")" alt="" />
</section>
<section id="about-content">
    <h2>About Us</h2>
    <p>
        Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a
    </p>
    <img id="video-opener" src="@Url.Content("~/Images/video-thumbnail.png")" alt="" />
    <div id="dialog-modal-video"></div>
</section>
<section id="right-roll">
    <img src="@Url.Content("~/Images/sushi-caviar-topping.png")" alt="" class="sushi-top" />
    <img src="@Url.Content("~/Images/sushi-crab-top.png")" alt="" class="sushi-crab" />
    <img src="@Url.Content("~/Images/sushi-rice.png")" alt="" class="sushi-rice" />
    <img src="@Url.Content("~/Images/chopsticks.png")" alt="" class="chopsticks" />
</section>

