@model CodeSlingers2012.Models.FooterViewModel

<article class="left">
    <img src="@Url.Content("~/Images/gts-header.png")" />
    <img src="@Url.Content("~/Images/footer-sushi.png")" class="footer-sushi"/>
</article>


@foreach (var item in Model.items)
{
    var className = string.Empty;
    switch (item.SectionId)
    {
        case 1:
            className = "dinner";
            break;
        case 2:
            className = "happy-hour";
            break;
        case 3:
            className = "back-to-top";
            break;
    }

    if (item.SectionId < 3)
    {
        <article class="@className">
            <h3>@item.Title</h3>
            @Html.Raw(item.ContentText)
        </article>
    }
    else
    {
        <a href="@item.ContentUrl" class="@className">@item.ContentUrlText</a>
    }
}
