@model CodeSlingers2012.Models.HomeLinkViewModel

<section id="homecallouts">
        @foreach (var item in Model.items)
        {
            var className = string.Empty;
            switch (item.SectionId)
            {
                case 1:
                    className = "featured";
                    break;
                case 2:
                    className = "where-we-are";
                    break;
                case 3:
                    className = "work-with-us";
                    break;
            }

            <article class="@className">
                <title>@item.Title</title>
                <summary>
                    @item.ContentText
                    <a href="@item.ContentUrl"><span></span>@item.ContentUrlText</a>
                </summary>
                @if (!string.IsNullOrEmpty(item.ImageUrl)) { <img src="@item.ImageUrl")" alt="Sushi" /> }
            </article>
        }
</section>